[Unit]
Description=KOTE Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/nestandart
ExecStart=/usr/bin/node -r dotenv/config bot/index.js
Restart=always
RestartSec=10
EnvironmentFile=/opt/nestandart/.env

[Install]
WantedBy=multi-user.target